[submodule "Include/DSPCommon"]
	path = Include/DSPCommon
	url = https://github.com/MeijisIrlnd/DSPCommon.git
[submodule "Include/SDSP"]
	path = Include/SDSP
	url = https://github.com/MeijisIrlnd/SDSP.git
